<%- include('../partials/header') %>

<container id="purple-background">
<container id="main-concert-page">
<table id="concert-list">
    <thead id="concert-headings">
        <tr>
            <th id="mosaic-test"> your mosaic </th>
        </tr>
    </thead>
    <br>
    <tbody>
        <% concerts.forEach(function(c) { %>
           
            <tr>
                <td> | <%= c.artist %></td>
                <td> <%= c.tour %>    <br>     </td>
                <td> <%= c.venue %>    <br>    </td>
                <td> <%= c.location %></td>
                <td> <%= new Date(c.date).toLocaleDateString('en-US') %> |</td>
                <td> <%= c.concertType %></td>
                <td> <a href="/concerts/<%= c._id %>">details</a></td>
            </tr>
        
            <% }) %>
    </tbody>
</table>
</container>
</container>

<%- include('../partials/footer') %>
