<%- include('../partials/header') %>



<section id="show-page"?
    <div> Artist: </div>
    <div> <%= concert.artist %> </div>
    <div> Tour: </div>
    <div> <%= concert.tour %> </div>
    <div> Venue: </div>
    <div> <%= concert.venue %> </div>
    <div> Location: </div>
    <div> <%= concert.location %> </div>
    <div> Venue: </div>
    <div> <%= concert.date %> </div>
    <div> Type: </div>
    <div> <%= concert.concertType %> </div>
</section>

<br><h2>Review</h2>
<form id="add-review-form" method="POST"
    action="/concerts/<%= concert._id %>/reviews">
    <label>review:</label>
    <textarea name="content"></textarea>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <ul class="list-inline rating-list">
      <li><i class="fa fa-star" title="Rate 5"></i></li>
      <li><i class="fa fa-star" title="Rate 4"></i></li>
      <li><i class="fa fa-star" title="Rate 3"></i></li>
      <li><i class="fa fa-star" title="Rate 2"></i></li>
      <li><i class="fa fa-star" title="Rate 1"></i></li>
    </ul>
    <input type="submit" value="add review">
    </form>


</form>








<%- include('../partials/footer') %>